<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1. 开启视图层注解, 使注解生效 -->
    <mvc:annotation-driven/>
    <!--2. 避免让分发器将静态资源路径当做普通请求处理, 从而导致找不到相应的静态资源 -->
    <mvc:default-servlet-handler/>
    <!--3. 设置静态资源过滤路径, 避免让分发器进行处理, 从而导致静态资源不生效 -->
    <!--注: 如果静态资源路径填写错误, 就会导致静态资源不生效 -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--
    视图解析器对象: 如果返回的是字符串并且配置相应 URL 路径, 那么就会自动进入解析器, 从而转发到相应的页面
    前缀: 配置解析的目录
    后缀: 配置解析的文件
    转发和重定向的区别
    转发: A->B B->C URL 路径不改变
    重定向: A->B A->C URL 路径改变
     -->
    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 文件流解析对象: 用于解析含有文件流表单 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 上传图片的最大大小 -->
        <property name="maxUploadSize" value="20971520"/>
        <!-- 上传的图片在内存中的最大大小 -->
        <property name="maxInMemorySize" value="20971520"/>
    </bean>

    <!-- 扫描注解 -->
    <context:component-scan base-package="com.o2o.controller"/>
    
    <!-- 拦截器配置 -->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/shop-admin/**"/>-->
<!--            <bean id="loginInterceptor" class="com.o2o.interceptor.ShopLoginInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/shop-admin/**"/>-->
<!--            <bean id="permissionInterceptor" class="com.o2o.interceptor.ShopPermissionInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

</beans>