<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!-- 扫描注解 -->
        <context:component-scan base-package="com.o2o.service"/>

        <!-- 配置事务管理器 -->
        <bean id="manager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <!-- 配置事务管理管理的数据源 -->
            <!-- 注: 想要事务回滚, 方法中必须抛出运行时异常（RuntimeExecution）, 否则是不会回滚的 -->
            <property name="dataSource" ref="dataSource"/>
        </bean>

        <!-- 启用事务注解 -->
        <tx:annotation-driven transaction-manager="manager"/>
</beans>