<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybtis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyusakaiori.csms.dao.GoodsImageMapper">

    <resultMap id="imageMap" type="goodsImage">
        <id property="goodsImageId" column="goods_image_id"/>
        <result property="url" column="goods_image_url"/>
        <result property="description" column="goods_image_desc"/>
        <result property="priority" column="good_image_priority"/>
        <association property="goods" javaType="goodsInfo" column="goods_id">
            <id property="goodsId" column="goods_id"/>
            <result property="goodsName" column="goods_name"/>
        </association>
    </resultMap>

    <insert id="batchInsertGoodsImage" parameterType="java.util.List" keyProperty="" keyColumn="" useGeneratedKeys="true">
        insert into o2o.tb_goods_image
        (goods_image_url, goods_image_desc, goods_image_priority, create_time, goods_id)
        values
        <foreach collection="list" item="image" index="index" separator=",">
            (#{image.url}, #{image.description}, #{image.priority}, #{image.createTime}, #{image.goods.goodsId})
        </foreach>
    </insert>

    <select id="findAllGoodsImage" parameterType="_int" resultMap="imageMap" resultType="goodsImage">
        select * from o2o.tb_goods_image
        where goods_id = #{id}
        order by goods_image_priority desc
    </select>

    <delete id="deleteGoodsImage" parameterType="_int">
        delete from o2o.tb_goods_image
        where goods_id = #{id}
    </delete>

</mapper>