<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybtis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2o.dao.ShopInfoMapper">
    <!--
    功能: 新增店铺信息

     -->
    <insert id="insertShopInfo" parameterType="shopInfo" useGeneratedKeys="true" keyColumn="shop_id" keyProperty="shopId">
        insert into
            o2o.tb_shop_info(owner_id, area_id, shop_category_id,
                             shop_name, shop_desc, shop_address, shop_phone,
                             shop_priority, shop_img_url, create_time, update_time, advice)
        values(#{master.userId}, #{campusArea.campusAreaId}, #{category.shopCategoryId},
               #{shopName}, #{description}, #{address}, #{phone}, #{priority}, #{imageURL},
               #{createTime}, #{updateTime}, #{advice})
    </insert>

    <!--
    功能: 更新店铺信息
    注意: 不可以更新店铺主键、店铺区域、店铺老板、创建时间
    -->
    <update id="updateShopInfo" useGeneratedKeys="true" keyColumn="shop_id" keyProperty="shopId">
        update o2o.tb_shop_info
        <set><!-- 代表 set 关键字 -->
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="description != null">shop_desc = #{description},</if>
            <if test="address != null">shop_address = #{address},</if>
            <if test="phone != null">shop_phone = #{phone},</if>
            <if test="priority != null">shop_priority = #{priority},</if>
            <if test="imageURL != null">shop_img_url = #{imageURL},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="advice != null">advice = #{advice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="campusArea != null">area_id = #{campusArea.campusAreaId},</if>
            <if test="category != null">shop_category_id = #{category.shopCategoryId}</if>
        </set><!-- 每个分支后面记得加逗号 -->
        <where>
            shop_id = #{shopId}
        </where>
    </update>
</mapper>